@use '../mixins/responsive.scss' as *;
.logo {
  height: 30px;
  align-items: center;
}
.photo {
  width: 300px;
  height: 225px;
  align-items: center;
  @include responsive(desktop) {
    width: 720px;
    height: 534px;
    align-items: center;
  }
}
.point {
  position: absolute;
  left: 20px;
  bottom: -1830px;
  @include responsive(desktop) {
    left: 240px;
    bottom: -1380px;
  }
}
