.profile{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right:100px;
    &__photo{
        width: 40px;
        height: 40px;
        align-items: center;
        border-radius:50%;
    }

}
