@use '../mixins/responsive.scss' as *;
.quotes{

    @include responsive(desktop) {
        width: 1180px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}